@model AirTicketsService.Models.FlightUserSearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
                <div class="col-md-2">
                    <input type="text" id="departure_place_flight" onchange="" autocomplete="off"
                           class="form-control col-lg-2 col-md-2 col-sm-2 col-xs-12" placeholder="Город вылета" name="departurePlace" />
                    <div id="departure_place_flight_wrapper">

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <input type="text" id="arrival_place_flight" onchange="" autocomplete="off"
                           class="form-control col-lg-2 col-md-2 col-sm-2 col-xs-12" placeholder="Город прибытия" name="arrivalPlace" />
                    <div id="arrival_place_flight_wrapper">

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <input type="date" id="departure_place_flight_inp" onchange=""
                           class="form-control col-lg-2 col-md-2 col-sm-2 col-xs-12" placeholder="Дата вылета" name="departureDate" />
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <input type="date" id="arrival_place_flight_inp" onchange=""
                           class="form-control col-lg-2 col-md-2 col-sm-2 col-xs-12" placeholder="Обратно" name="arrivalDate" />
                </div>
        </div>

            <input type="submit" />
    }*@

<div id="bg">
</div>

@Html.ActionLink("Добавить полет", "Create", "Flight")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 class="main-text col-lg-8 col-lg-offset-2">
        Поиск дешевых авиабилетов<br />
    </h1>
    <h3 class="main-text col-lg-8 col-lg-offset-2">
        Лучший способ купить авиабилеты дешево
    </h3>
    <div class="search-group col-lg-10 col-lg-offset-1" id="search-grp">
        <div class="form-horizontal">
            <div class="">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.EditorFor(model => model.DeparturePlace, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control input-field",
                       @id = "departure_place_flight",
                       @placeholder = "Откуда",
                       autocomplete = "off"
                   }
               })
                    <div id="departure_place_flight_wrapper">

                    </div>
                    @Html.ValidationMessageFor(model => model.DeparturePlace, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.EditorFor(model => model.ArrivalPlace, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control input-field",
                       @id = "arrival_place_flight",
                       @placeholder = "Куда",
                       autocomplete = "off"
                   }
               })
                    <div id="arrival_place_flight_wrapper">

                    </div>
                    @Html.ValidationMessageFor(model => model.ArrivalPlace, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-32 col-xs-12">
                    @Html.EditorFor(model => model.DepartureDate, new
               {
                   htmlAttributes = new { @class = "form-control input-field", @placeholder = "Откуда" }
               })
                    @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.EditorFor(model => model.ArrivalDate, new
               {
                   htmlAttributes = new { @class = "form-control input-field", @placeholder = "Откуда" }
               })
                    @Html.ValidationMessageFor(model => model.ArrivalDate, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="">
                    <input type="submit" value="Поиск" class="btn search-btn col-lg-2 col-lg-offset-5" />
                </div>

        </div>
    </div>
    <div class="btn search-btn col-lg-2 col-lg-offset-5" id="search-begin-btn" onclick="searchBegin(event)">
        Поиск
    </div>

}

